{% extends 'base.html' %}
{% block body %}
<h2>{{the_title}}</h2>

<form action="/search4" method="post">
    <table>
        <p>Use this form to subimt a search request:</p>
        <tr>
            <td>Phrase:</td>
            <td><input name="phrase" type="text" width="60"></td>
        </tr>
        <tr>
            <td>Letters:</td>
            <td><input name="letters" type="text" value="aeiou" width="60"></td>
        </tr>
    </table>
    <p>When you're ready, click this button:</p>
    <p><input type="submit" value="Do it!"></p>
</form>
{% endblock %}
